#Operators

##Arithmetic

Write a Python program that takes two numbers as input and
performs the following operations: addition, subtraction, multiplication,
division, and modulus. Display the results.

In [4]:
num1=int(input("Enter 1st number: "))
num2=int(input("Enter 2nd number: "))

operation=input("ENter operation: \n+ \n- \n* \n/ \n ")

if operation=="+":
  print(num1 + num2)
elif operation=="-":
  print(num1 - num2)
elif operation=="*":
  print(num1 * num2)
elif operation=="/":
  print(num1 / num2)
else:
  print("Invalid operation")

Enter 1st number: 10
Enter 2nd number: 10
ENter operation:
+
-
*
/
 %
Invalid operation

Write a Python program to swap the values of two variables without
using a temporary variable.

> Add blockquote

In [14]:
num1=10
num2=20

print(num1)
print(num2)
print()


num1=num2=num1

print(num1)
print(num2)

10
20

10
10

Write a Python program that takes the radius of a circle as input and
calculates its area. Use the formula: Area = 3.14 * r^2.

In [16]:
radius=int(input("ENter the radius: "))

area=3.14 * radius**2

print(area)

ENter the radius: 10
314.0

##COMPARISON & LOGICAL

In [19]:
x=5
y=3

print(x>y)

True

In [20]:
a=10
b=20
c=30

print(a<b and b<c)

True

In [21]:
p=True
q=False

print(not p or q)

False

In [ ]:
num=25
print(num % 2 == 0)