#Dictionary

Ask subject name and marks from the user and keep adding it to
dictionary.

In [ ]:
total_sub = int(input("Enter total number of subjects: "))

marks = {}

for _ in range(0,total_sub):
  sub_name = input("Enter subject name: ")
  sub_marks = int(input(f"Enter {sub_name} marks: "))
  marks[sub_name]=sub_marks

print(marks)

total_marks = sum(marks.values())
print(f"Total: {total_marks}")

Enter total number of subjects: 2
Enter subject name: bio
Enter bio marks: 34
Enter subject name: eng
Enter eng marks: 45
{'bio': 34, 'eng': 45}
Total: 79

Convert two lists into a dictionary. Make two list on your own of
same length, and convert them to dictionary.

In [ ]:
list1 = ["one", "two", "three", "four"]
list2 = [1,2,3,4]

new_list = {}

for i in range(0, len(list1)):
  new_list[list1[i]] = list2[i]

print(new_list)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

Write a Python program to sum all the items in a dictionary.

In [ ]:
dict1 = {
    "sub1" : 50,
    "sub2" : 40,
    "sub3" : 30,
    "sub4" : 20
}

total = []

for i in dict1.values():
  total.append(i)

print(sum(total))

140

In [ ]:
dict1 = {
    "sub1" : 50,
    "sub2" : 40,
    "sub3" : 30,
    "sub4" : 20
}

total = 0

for v in dict1.values():
  total = total + v

print(total)

140

In [ ]:
dict1 = {
    "sub1" : 50,
    "sub2" : 40,
    "sub3" : 30,
    "sub4" : 20
}

print(sum(list(dict1.values())))

140

Write a Python program to multiply all the items in a dictionary.

In [22]:
dict1 = {
    "sub1" : 50,
    "sub2" : 40,
    "sub3" : 30,
    "sub4" : 20
}

total = 1

for v in dict1.values():
  total = total * v

print(total)

1200000

Ask a string from user. Display the dictionary where each key is a
character and value is the frequency of that character that comes in that
string.

In [30]:
user_output = input("Enter string: ")

dict1 = {}

for i in user_output:
  if i in dict1:
    dict1[i] += 1

  else:
    dict1[i] = 1

print(dict1)

Enter string: hello
{'h': 1, 'e': 1, 'l': 2, 'o': 1}

Store “name” of a student as Key, “list of 5 marks” of that student as a Value. Store atleast 5 student names. Print the sum and percentage of all the students.

In [47]:
students = {
    "ali" : [20,30,40],
    "asad" : [50,30,40],
    "ahmed" : [60,30,40],
    "usman" : [70,30,40],
    "hamza" : [80,30,40]
    }

for name, marks in students.items():
  total = sum(marks)
  percentage = total / 1000 * 100

  print(f"{name} scored total {total} marks and percentage is {percentage:.1f}")

ali scored total 90 marks and percentage is 9.0
asad scored total 120 marks and percentage is 12.0
ahmed scored total 130 marks and percentage is 13.0
usman scored total 140 marks and percentage is 14.0
hamza scored total 150 marks and percentage is 15.0