#Lists

In [ ]:
items=["apple", "orange", "banana"]
items

['apple', 'orange', 'banana']

In [ ]:
items.append("tomato")
print(items)

['apple', 'orange', 'banana', 'tomato']

In [ ]:
list1=["key", "lock"]
list2=["gate", "door"]
lists=list1+list2

print(lists)

['key', 'lock', 'gate', 'door']

In [ ]:
items

['apple', 'orange', 'banana', 'tomato']

In [ ]:
items[0:2]

['apple', 'orange']

In [ ]:
lists

['key', 'lock', 'gate', 'door']

In [ ]:
"car" in lists

False

In [ ]:
"door" in lists

True

#Excercises

1. Let us say your expense for every month are listed below,
	1. January -  2200
  2. February - 2350
  3. March - 2600
  4. April - 2130
  5. May - 2190

Create a list to store these monthly expenses and using that find out,

 1. In Feb, how many dollars you spent extra compare to January?
 2. Find out your total expense in first quarter (first three months) of the year.
 3. Find out if you spent exactly 2000 dollars in any month
 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
 5. You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list
 based on this

In [14]:
exp=[2200,2350,2600,2130,2190]

print("1. In Feb, i spent", exp[1]- exp[0], "dollars extra compare to January")

print("2. Total expense in first quarter of the year is",exp[0] + exp[1] + exp[2])

print("3. I spent exactly 2000 dollars in any month?",2000 in exp)

exp.append(1980)
print("4. Add 1980 dollar to the monthly expense list", exp)

print("5. Minus 200$ from april month",exp[3]-200)

1. In Feb, i spent 150 dollars extra compare to January
2. Total expense in first quarter of the year is 7150
3. I spent exactly 2000 dollars in any month? False
4. Add 1980 dollar to the monthly expense list [2200, 2350, 2600, 2130, 2190, 1980]
5. Minus 200$ from april month 1930

2. You have a list of your favourite marvel super heros heros=['spider man','thor','hulk','iron man','captain america'] Using this list

 1. Length of the list
 2. Add 'black panther' at the end of this list
 3. You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'
 4. Now you don't like thor and hulk because they get angry easily :) So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool). Do that with one line of code.
 5. Sort the list in alphabetical order

In [16]:
heroes=["spider man", "thor", "hulk", "iron man", "captain america"]

print(len(heroes))

heroes.append("black panther")
print(heroes)

heroes.remove("black panther")
heroes.insert(3, "black panther")
print(heroes)

heroes[1:3]=["doctor strange"]
print(heroes)

heroes.sort()
print(heroes)

5
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']