#for loop

In [ ]:
salaries=[1000, 12000, 14000, 16000, 20000]
for i in salaries:
  print(i)

1000
12000
14000
16000
20000

In [ ]:
salaries=[1000, 12000, 14000, 16000, 20000]
total=0

for i in salaries:
  total=total+i

print(total)

63000

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
total=0
for i in range(1,10):
  total=total+i

print(total)

45

In [ ]:
total=0
for i in range(1,10):
  total=total+i
  print(total)

print("Total is:",total)

1
3
6
10
15
21
28
36
45
Total is: 45

In [ ]:
for i in range(1,11):
  print("4 *",i,"=",4*i)

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [ ]:
i=1
while i != 11:
  print("4 *",i,"=",4*i)
  i=i+1

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [ ]:
salaries=[1000, 12000, 14000, 16000, 20000]

for i in salaries:
  print("month",i)

month 1000
month 12000
month 14000
month 16000
month 20000

In [ ]:
salaries=[1000, 12000, 14000, 16000, 20000]

total = 0

for i in range(len(salaries)):
  print("Month", i+1, "salary is", salaries[i])
  total = total+salaries[i]

print(total)

Month 1 salary is 1000
Month 2 salary is 12000
Month 3 salary is 14000
Month 4 salary is 16000
Month 5 salary is 20000
63000

In [ ]:
thing="soap"

list=["key","soap","lock","cycle","car"]

for i in list:
  if i == thing:
    print("The things is found and that is: ",i)
    break
  else:
    print("not found")

not found
The things is found and that is:  soap

In [ ]:
thing="soap"

list=["key","soap","lock","cycle","car"]

for i in list:
  if i == thing:
    continue
    print("The things is found and that is: ",i)
  else:
    print("not found")

not found
not found
not found
not found

#Excercises

Exercise: Python for loop
 1. After flipping a coin 10 times you got this result,

 result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]

 Using for loop figure out how many times you got heads

In [ ]:
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]

count=0

for i in result:
  if i == "heads":
    count+=1

print(count)

4

2. Print square of all numbers between 1 to 10 except even numbers

In [ ]:
for i in range(1,11):
  if i%2 != 0:
    print(i**2)

1
9
25
49
81

In [ ]:
for i in range(1,11):
  if i % 2 == 0:
    continue
  print(i**2)

1
9
25
49
81

In [ ]:
for i in range(1,11):
  if i % 2 == 0:
    continue
  print(i*i)

1
9
25
49
81

3. Your monthly expense list (from Jan to May) looks like this,

 expense_list = [2340, 2500, 2100, 3100, 2980]

 Write a program that asks you to enter an expense amount and program
 should tell you in which month that expense occurred. If expense is not
 found then it should print that as well.

In [ ]:
month_list = ["Jan", "Feb", "Mar", "Apr", "May"]
expense_list = [2340, 2500, 2100, 3100, 2980]

ask=int(input("Enter the expense: "))

if ask

#Nested Loops

Write a program that takes three numbers as input and determines
the largest one using nested if-else statements. Make sure all 3 numbers
entered by user are different.

In [12]:
num1=int(input("Enter 1st number: "))
num2=int(input("Enter 2nd number: "))
num3=int(input("Enter 3rd number: "))

if num1!=num2 and num2!=num3 and num1!=num3:
  if num1 > num2:
    if num1 > num3:
      largest=num1
    else:
      largest=num3
  else:
    if num2>num3:
      largest=num2
    else:
      largest=num3
  print(f"Largest number is {largest}")

else:
  print(f"Numbers are duplicate. Enter numbers again")

Enter 1st number: 1
Enter 2nd number: 4
Enter 3rd number: 6
Largest number is 6

Write a program that checks if a given year is a leap year. Leap years
are divisible by 4, but not by 100 unless they are also divisible by 400.

In [21]:
year=int(input("Enter the year: "))

if year % 4 == 0:
  if year % 100 == 0:
    if year % 400 == 0:
      print(f"{year} is a leap year")
    else:
      print(f"{year} is not a leap year")

  else:
    print(f"{year} is a leap year")
else:
  print(f"{year} is not a leap year")

Enter the year: 1900
1900 is not a leap year

Create a program that calculates the price of a movie ticket based on
the age of the customer. If the customer is under 12, the ticket costs $5; if
they are between 12 and 65, the ticket costs $10; otherwise, it's $7.

In [22]:
age=int(input("Enter your age: "))

if age < 12:
  if age > 12:
    if age > 65:
      print(f"Ticket price is $7")
    else:
      print(f"Wrong age")
  else:
    print("TIcket price is $10")
else:
  print("Ticket price is $5")

SyntaxError: invalid syntax (ipython-input-22-1961649248.py, line 5)

In [30]:
age=int(input("Enter your age: "))

if age < 12:
  print("Ticket price is $5")
else:
    if age <= 65:
      print("Ticket price is $7")
    else:
      print("Ticket price is $10")

Enter your age: 20
Ticket price is $7

Print the following pattern.

In [96]:
for i in range(1,6):
  print("* * * * *")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [95]:
for i in range(1,6):
  print("1 2 3 4 5")

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [108]:
for i in range(5):
  for j in range(1,6):
    print(j, end="")
  print()

12345
12345
12345
12345
12345

In [118]:
for i in range(5):
  for j in range(5,0,-1):
    print(j, end="")
  print()

54321
54321
54321
54321
54321

In [104]:
for i in range(1,6):
  print(i,i,i,i,i)

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [123]:
for i in range(1,6):
  for j in range(5):
    print(i, end="")
  print()

11111
22222
33333
44444
55555

In [124]:
for i in range(5,0,-1):
  for j in range(5):
    print(i, end="")

  print()

55555
44444
33333
22222
11111

In [126]:
number=int(input("Enter any number: "))

for i in range(1,number+1):
  for j in range(number):
    print(i, end="")
  print()

Enter any number: 6
111111
222222
333333
444444
555555
666666

In [127]:
number=int(input("Enter any number: "))

for i in range(number+1, 0, -1):
  for j in range(number):
    print(i, end="")
  print()

Enter any number: 5
66666
55555
44444
33333
22222
11111

#Print even numbers between 1 to 20

In [157]:
i = 2
while i <= 10:
  if i % 2 == 0:
    print(i)
    i = i + 2

2
4
6
8
10

In [159]:
i=1
while i <= 10:
  if i % 2 == 0:
    print(i)
  i = i + 1

2
4
6
8
10

In [156]:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [140]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j, end="")
  print()

1
12
123
1234
12345

In [12]:
for i in range(1,6):
  for j in range(1,i+1):
    print(i, end="")
  print()

1
22
333
4444
55555

In [22]:
for i in range(1,6):
  for j in range(i,0,-1):
    print(j,end="")
  print()

1
21
321
4321
54321

In [64]:
for i in range(5,0,-1):
  for j in range(5,i-1,-1):
    print(j,end="")
  print()

5
54
543
5432
54321

In [65]:
for i in range(5,0,-1):
  for j in range(5,i-1,-1):
    print(i,end="")
  print()

5
44
333
2222
11111

In [70]:
for i in range(5,0,-1):
  for j in range(5,i-1,-1):
    print("*",end="")
  print()

*
**
***
****
*****

In [84]:
for i in range(1,6):
  for j in range(5,i-1,-1):
    print(j, end="")
  print()

54321
5432
543
54
5

In [90]:
for i in range(5,0,-1):
  for j in range(1,i+1):
    print(i, end="")
  print()

55555
4444
333
22
1

In [101]:
for i in range(5,0,-1):
  for j in range(i,0,-1):
    print(j, end="")
  print()

54321
4321
321
21
1

In [108]:
count = 1

for i in range(1, 6):  # Rows from 1 to 5
    for j in range(i):
        if count <= 15:
            print(count, end=" ")
            count += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

##Advanced Nested LOop

In [118]:
for i in range(1,6):
  for j in range(5):
    print("*", end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [127]:
for i in range(6,0,-1):
  for j in range(1,i-1):
    print("@", end=" ")
  print()

@ @ @ @
@ @ @
@ @
@

In [130]:
for i in range(1,6):
  for j in range(i,5):
    print(" ", end=" ")

  for k in range(1, i+1):
    print("*", end=" ")
  print()

        *
      * *
    * * *
  * * * *
* * * * *

In [131]:
for i in range(1,6):
  for j in range(i,5):
    print(" ", end=" ")

  for k in range(1, i+1):
    print(k, end=" ")
  print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [138]:
for i in range(1,6):
  for j in range(i,5):
    print(" ", end=" ")

  for k in range(i,i+1):
    print(k, end=" ")

  print()

        1
      2
    3
  4
5

#While loop

Ask a number from user. Print all the numbers from 1 to that number.

In [39]:
number=int(input("Enter any number: "))

i=1

while i <= number:
  print(i)
  i=i+1

Enter any number: 10
1
2
3
4
5
6
7
8
9
10

Ask a number (N) from user. Print all the numbers from N to 1.

In [45]:
number=int(input("Enter a number: "))

i = number
while i >= 1:
  print(i)
  i=i-1

Enter a number: 9
9
8
7
6
5
4
3
2
1

Ask start number and end number from user. Print all the numbers
from start to end using while loop.

In [49]:
start_num=int(input("Enter start number: "))
end_num=int(input("Enter end number: "))

i = start_num

while i <= end_num:
  print(i)
  i=i+1

Enter start number: 5
Enter end number: 10
5
6
7
8
9
10

In [58]:
start_num=int(input("Enter start number: "))
end_num=int(input("Enter end number: "))

i = start_num

if start_num < end_num:
  while i <= end_num:
    print(i)
    i=i+1
elif end_num < start_num:
  while i >= end_num:
    print(i)
    i=i-1
else:
  print(start_num)

Enter start number: 3
Enter end number: -2
3
2
1
0
-1
-2

Calculate the sum of all the numbers from 1 to 10.

In [62]:
i = 1

while i <= 10:
  print(i)
  i=i+i

1
2
4
8

In [63]:
i = 1
sum_of_numbers = 0

while i <= 10:
    sum_of_numbers += i
    i += 1

print("The sum of numbers from 1 to 10 is:", sum_of_numbers)

The sum of numbers from 1 to 10 is: 55

Calculate product of all the numbers from 1 to 10.

Calculate how many numbers are divisible by 7 from 1 to 100.

In [70]:
i = 1
count = 0

while i <= 100:
  if i % 7 == 0:
    count = count+1
  i = i + 1
print(count)

14

Calculate how many numbers are divisible by both 6 and 7 between 1
to 200.

In [79]:
i=1
count=0

while i <= 200:
  if i % 6 == 0 and i % 7 == 0:
    print(f"{i} is divisible by both 6 and 7")
    count = count + 1
  i=i+1

print(f"\nTotal numbers divisible by both 6 and 7 are {count}")

42 is divisible by both 6 and 7
84 is divisible by both 6 and 7
126 is divisible by both 6 and 7
168 is divisible by both 6 and 7

Total numbers divisible by both 6 and 7 are 4

Write a program to calculate the sum of all the numbers divisible by 4
from 20 to 50.

In [84]:
i=20
count=0

while i <=50:
  if i % 4 == 0:
    print(i)
    count = count + i

  i = i+1

print(count)

20
24
28
32
36
40
44
48
272

Ask a number from user. Print the multiplication table of that number.

In [86]:
number=int(input("Enter any number: "))

i = 1

while i <= 10:
  print(f"{number} * {i} = {number * i}")
  i = i + 1

Enter any number: 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

Ask to numbers x and y from the user. If x<y then print all the
numbers from x to y, but if y<x then print all the numbers from y to x.

In [91]:
x=int(input("Enter 1st number: "))
y=int(input("Enter 2nd number: "))

if x<y:
  while x <= y:
    print(x)
    x=x+1

elif y<x:
  while y<=x:
    print(y)
    y=y+1

Enter 1st number: 5
Enter 2nd number: 10
5
6
7
8
9
10