#Strings

In [ ]:
string="good morning"
print(string)

good morning

In [ ]:
string[0:4]

'good'

In [ ]:
string[:4]

'good'

In [ ]:
string[4:12]

' morning'

In [ ]:
string[5:12]

'morning'

In [ ]:
string[5:15]

'morning'

In [ ]:
string[5:]

'morning'

In [ ]:
string[0]=f

NameError: name 'f' is not defined

In [ ]:
string2="hello world"
print(string2)

hello world

In [ ]:
string2='hello world'
print(string2)

hello world

In [ ]:
string2='''hello world'''
print(string2)

hello world

In [ ]:
string2='hello "world"'
print(string2)

hello "world"

In [ ]:
s1="total months in a year are"
s2=str(12)
print(s1+" " +s2)

total months in a year are 12

#Excercises

1. Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line

In [ ]:
street="5"
city="lahore"
country="pakistan"

address=street + "\n" + city + "\n" + country

print("address using +","\n",address)

print(f"{street} \n{city} \n{country}")

address using +
 5
lahore
pakistan
5
lahore
pakistan

2. Create a variable to store the string "Earth revolves around the sun"
  1. Print "revolves" using slice operator
  2. Print "sun" using negative index

In [ ]:
var="Earth revolves around the sun"

print(var[6:14])
print(var[-3:])

revolves
sun

3. Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.

In [ ]:
veg=5
fruits=4

print("I eat",veg,"vegetables and",fruits,"fruits")

print(f"I eat {veg} vegetables and {fruits} fruits")

I eat 5 vegetables and 4 fruits
I eat 5 vegetables and 4 fruits

4. I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [ ]:
s='maine 200 banana khaye'
s=s.replace("200","10")
s=s.replace("banana","samosa")

print(s)

maine 10 samosa khaye

Ask a string from user. Count how many alphabets are there in that
string.

In [ ]:
string = str(input("Enter any word: "))

print(f"Length of string {num} is {len(num)}")

Enter any word: abcd
Length of string abcd is 4

Ask a string from user. Count the number of uppercase and
lowercase characters in that String.

In [ ]:
string = str(input("Enter any word: "))

upp_case = 0
low_case = 0

for i in string:
  if i.isupper():
    upp_case = upp_case + 1
  elif i.islower():
    low_case = low_case + 1

print(low_case)
print(upp_case)

Enter any word: asdfAS
4
2

Ask a string from user. Convert all the alphabets to uppercase.

In [ ]:
string = input("Enter any string: ")

upper = string.upper()

print(upper)

Enter any string: asdff
ASDFF

In [ ]:
string = input("Enter any string: ")

for chr in string:
  upper = chr.upper()
  print(upper, end = "")

Enter any string: afdffsdf
AFDFFSDF

Ask a string from user. Convert all the alphabets to lowercase.

In [ ]:
string = input("Enter any string: ")

for chr in string:
  upper = chr.lower()
  print(upper, end = "")

Enter any string: 1231321
1231321

Ask a string from user. Convert uppercase to lowercase and convert
lowercase to uppercase and donâ€™t change the other letters.

In [ ]:
user_input = input("Enter a string: ")

converted = ""

for char in user_input:
    if char.isupper():
        converted += char.lower()
    elif char.islower():
        converted += char.upper()
    else:
        converted += char

print("Converted string:", converted)

Enter a string: asd123ASD
Converted string: ASD123asd

Count the number of spaces in a string entered by user.

In [ ]:
user_input = input("Enter a string: ")

spc_count = user_input.count(" ")

print("Total number of spaces:", spc_count)

Enter a string: asd sadad
Total number of spaces: 1

In [ ]:
user_input = input("Enter a string: ")

chr_count = len(user_input)

print(chr_count)

Enter a string: sdfsda
6

#String methods

Ask a string from user. Print the count of how many alphabets, digits, spaces and symbols (everything else) are there in that string.

In [39]:
input_string = input("Enter a string: ")

alphabets = 0
digits = 0
spaces = 0
symbols = 0

for chr in input_string:
  if chr.isalpha():
    alphabets = alphabets + 1
  elif chr.isdigit():
    digits = digits + 1
  elif chr.isspace():
    spaces = spaces + 1
  else:
    symbols + symbols + 1

print("Alphabets: ", alphabets)
print("Digits: ", digits)
print("Spaces: ", spaces)
print("Symbols: ", symbols)

Enter a string: asdad12312 21312qaadsf%%^54
Alphabets:  11
Digits:  12
Spaces:  1
Symbols:  0

Write a program to reverse the order of words.

In [54]:
input_string = "Hello World"

words = input_string.split()

reversed_words = " ".join(reversed(words))

print("Reversed order of words:", reversed_words)

Reversed order of words: World-Hello

Write a program that accepts a string and capitalizes the first letter of each word while converting all other letters to lowercase.

In [56]:
user_input = input("Enter any string: ")

cap = user_input.title()

print(cap)

Enter any string: heLLO WORld
Hello World

Write a program that reverses each word in a sentence while
maintaining the word order. For example, "Hello World" should become

In [65]:
message = "Hello world"

spl = message.split()

for i in spl:
  reverse = i[::-1]
  print(reverse, end = " ")

olleH dlrow

Write a program that converts a string in camelCase to snake_case.
For example, converting "helloWorldHowAreYou" should result in
"hello_world_how_are_you".

In [69]:
message = "helloWorldHowAreYou"

cam_case = ""

for chr in message:
  if chr.isupper():
    splitt =  message.split(" ")
    print(splitt)

['helloWorldHowAreYou']
['helloWorldHowAreYou']
['helloWorldHowAreYou']
['helloWorldHowAreYou']