#Variables

In [ ]:
month1 = 1000
month2 = 3000
month3 = 5000

total = month1 + month2 + month3
print (total)

9000

In [ ]:
print("Total months are:",3,"\nand total expense is:", total)

Total months are: 3
and total expense is: 9000

In [ ]:
Dinner = input("What would you like to eat? ")
print("The visitor wants to eat",Dinner)

What would you like to eat? Pulao
The visitor wants to eat Pulao

#Excercises

1. Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see

In [1]:
break=5

SyntaxError: invalid syntax (ipython-input-1-800182598.py, line 1)

2. Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

In [2]:
var1=2000
var2=2024
my_age=var2-var1

print(my_age)

24

3. Store your first, middle and last name in three different variables and then print your full name using these variables

In [12]:
from typing_extensions import LiteralString
first_name="muhammad"
middle_name="asif"
last_name="ali"

print("my full name is: ", first_name, middle_name, last_name)

my full name is:  muhammad asif ali

In [9]:
from typing_extensions import LiteralString
first_name="muhammad"
middle_name="asif"
last_name="ali"

print("my full name is: ", first_name + " ", middle_name + " ", last_name)

my full name is:  muhammad  asif  ali

4. Answer which of these are invalid variable names: "_nation, 1record, record1, record_one, record-one, record^one, continue"

In [ ]:
1record
record-one
continue
record^one